@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 300px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}