{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Copy CSS from https://getbootstrap.com/docs/5.0/getting-started/introduction/#css -->
{% endblock %}
{% block javascripts %}
    <!-- Copy JavaScript from https://getbootstrap.com/docs/5.0/getting-started/introduction/#js -->
{% endblock %}

{% block body %}
    <h2>Udało Ci się zarejestrować</h2>

{% endblock %}